pyenv/*
*.pyc
.vscode
placepulse/*
.ipynb_checkpoints
votes/votes.csv
votes/votes_clean.csv
model.pth
models/*
pyenv
models
placepulse.tar.xz
placepulse
*.dot
*.ps
*.tar.xz
runs/*
tensorboardX
pp_cropped/*
votes/*
*.zip
logs/*
*.csv
*.json
segmentation
*.ipynb
output/*
*.jsonl